[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
speechrecognition = "*"
python-dotenv = "*"
pipwin = "*"
gtts = "*"
elevenlabs = "*"
dotenv = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.13"
